body {
  text-align: center;
  border: 1px solid black;
}

.watch-cover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  width: 516px;
  font-display: center;
}

.clock {
  width: 90px;
  flex: 0 0 50px;
  margin: 5px;
  background-color: darkgoldenrod;
  border: 1px solid black;
}

.side-button{
  flex-basis: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  width: 300px;
  border: 1px solid black;
}

.task {
    width: 90px;
  flex: 0 0 50px;
  margin: 5px;
  background-color: darkgrey;
}
.task:hover{
  background-color: yellow;

}